In [3]:
import pandas as pd
import numpy as np

1. Suponga dos eventos, A y B, y que P(A) = 0.50, P(B) = 0.60 y P(A ∩ B) = 0.40.

a. Halle P(A | B).

b. Halle P(B | A).

c. ¿A y B son independientes? ¿Por qué sí o por qué no?

In [3]:
probabilidadA = 0.5
probabilidadB = 0.6
probabilidadAYB = 0.4

a = probabilidadAYB / probabilidadB
print('La probabilidad de a dado b es:', a, '\n')

b = probabilidadAYB / probabilidadA
print('La probabilidad de b dado a es:', b, '\n')

c = probabilidadA * probabilidadB

if c == probabilidadAYB:
    print('Ambos eventos son independientes')
else:
    print('Ambos eventos no son independientes')

La probabilidad de a dado b es: 0.6666666666666667

La probabilidad de b dado a es: 0.8

Ambos eventos no son independientes

2. Suponga dos eventos, A y B, que son mutuamente excluyentes. Admita, además, que P(A) = 0.30 y P(B) = 0.40.

a. Obtenga P(A ∩ B). ¿Existe intersección entre los dos conjuntos?.

b. Calcule P(A | B).

c. Un estudiante de estadística argumenta que los conceptos de eventos mutuamente excluyentes y eventos independientes son en realidad lo mismo y que si los eventos son mutuamente excluyentes deben ser también independientes. ¿Está usted de acuerdo? Use la información sobre las probabilidades para justificar su respuesta.

In [11]:
probabilidadA = 0.3
probabilidadB = 0.4

print('No existe intersección entre el evento A y B ya que son mutuamente excluyentes, esto quiere decir que o sucede A o sucede B.')
print('Por lo tanto la probabilidad de A y B es igual a 0.\n')

probabilidadAYB = 0

b = probabilidadA

print('La probabilidad de A dado B es igual a la probabilidad de A que es:', b, '\n')

probabilidadAYB2 = probabilidadA * probabilidadB

print('Se sabe que la probabilidad de dos eventos independientes y no excluyentes debe ser el producto de ambos eventos, lo cual sería:', probabilidadAYB2, '')
print('Pero como se sabe que la probabilidad de dos eventos excluyentes es 0, se refutaria y sería falso el argumento del estudiante.')

No existe intersección entre el evento A y B ya que son mutuamente excluyentes, esto quiere decir que o sucede A o sucede B.
Por lo tanto la probabilidad de A y B es igual a 0.

La probabilidad de A dado B es igual a la probabilidad de A que es: 0.3

Se sabe que la probabilidad de dos eventos independientes y no excluyentes debe ser el producto de ambos eventos, lo cual sería: 0.12
Pero como se sabe que la probabilidad de dos eventos excluyentes es 0, se refutaria y sería falso el argumento del estudiante.

3. Si en la concesionaria se seleccionan dos ventas con reposición (Los sucesos son independientes.). Hallar la probabilidad de que las ventas sean:

a. La primera de un comprador de “menos de 40 años” y la segunda de uno de "entre 40 y 50 años".

b. las dos sean de autos "nacionales".

In [17]:
dic1 = {
    'Nacional' : [24, 19, 7, 50],
    'Importado' : [6, 15, 9, 30],
    'Total' : [30, 34, 16, 80]
}

indices = ['Menos de 40', 'Entre 40 y 50', 'Más de 50', 'Total']

df1 = pd.DataFrame(dic1, index = indices)

df1

               Nacional  Importado  Total
Menos de 40          24          6     30
Entre 40 y 50        19         15     34
Más de 50             7          9     16
Total                50         30     80

In [47]:
arreglo1 = np.array([dic1['Nacional'], dic1['Importado'], dic1['Total']])
total = df1.loc['Total', 'Total']

arreglo2 = arreglo1 / total

dic2 = {
    'Nacional' : arreglo2[0],
    'Importado' : arreglo2[1],
    'Total' : arreglo2[2]
}

df2 = pd.DataFrame(dic2, index = indices)
df2

               Nacional  Importado  Total
Menos de 40      0.3000     0.0750  0.375
Entre 40 y 50    0.2375     0.1875  0.425
Más de 50        0.0875     0.1125  0.200
Total            0.6250     0.3750  1.000

In [48]:
df2.loc['Total']

Nacional     0.625
Importado    0.375
Total        1.000
Name: Total, dtype: float64

In [52]:
a = df2.loc['Menos de 40', 'Total'] * df2.loc['Entre 40 y 50', 'Total']
print('la probabilidad de que la primera venta sea por un comprador de menos de 40 años y la segunda venta sea por un comprador de entre 40 y 50 años es de:', a, '\n')

b = df2.loc['Total', 'Nacional'] * df2.loc['Total', 'Nacional']
print('la probabilidad de que la primera venta sea coche nacional y la segunda venta también sea coche nacional es de:', b)

la probabilidad de que la primera venta sea por un comprador de menos de 40 años y la segunda venta sea por un comprador de entre 40 y 50 años es de: 0.159375

la probabilidad de que la primera venta sea coche nacional y la segunda venta también sea coche nacional es de: 0.390625

6. Si la selección de las dos ventas se realiza sin reposición. Hallar la probabilidad de que las ventas sean:
Los sucesos son condicionales.

a. la primera de un comprador de “menos de 40 años” y la segunda de uno de "entre 40 y 50 años".

b. las dos sean de autos "nacionales".

In [55]:
a = (df1.loc['Menos de 40', 'Total'] / df1.loc['Total', 'Total']) * (df1.loc['Entre 40 y 50', 'Total'] / (df1.loc['Total', 'Total'] - 1))
print('la probabilidad de que la primera venta sea por un comprador de menos de 40 años y la segunda venta sea por un comprador de entre 40 y 50 años y que no haya reposición es de:', a, '\n')

b = (df1.loc['Total', 'Nacional'] / df1.loc['Total', 'Total']) * (df1.loc['Total', 'Nacional'] / (df1.loc['Total', 'Total'] - 1))
print('la probabilidad de que la primera venta sea coche nacional y la segunda venta también sea coche nacional, sin reposición es de:', b)

la probabilidad de que la primera venta sea por un comprador de menos de 40 años y la segunda venta sea por un comprador de entre 40 y 50 años y que no haya reposición es de: 0.16139240506329114

la probabilidad de que la primera venta sea coche nacional y la segunda venta también sea coche nacional, sin reposición es de: 0.39556962025316456

5. Si la selección de las dos ventas se realiza sin reposición. Hallar la probabilidad de que las ventas sean:

Los sucesos son condicionales.

a. De un comprador de “menos de 40 años” y de uno de "entre 40 y 50 años". Sin importar el orden.

In [56]:
a = ((df1.loc['Menos de 40', 'Total'] / df1.loc['Total', 'Total']) * (df1.loc['Entre 40 y 50', 'Total'] / (df1.loc['Total', 'Total'] - 1))) + (df1.loc['Entre 40 y 50', 'Total'] / (df1.loc['Total', 'Total']) * (df1.loc['Menos de 40', 'Total'] / (df1.loc['Total', 'Total'] - 1)))
a

0.3227848101265823

6. Debido al aumento de los costos de los seguros, en un país 43 millones de personas, hay personas que no cuentan con un seguro médico.

a. Con estos datos elabore una tabla de probabilidad conjunta y úsela para responder las preguntas restantes.

b. ¿Qué indican las probabilidades marginales acerca de la edad de la población?

c. ¿Cuál es la probabilidad de que una persona tomada en forma aleatoria no tenga seguro médico?

d. Si la persona tiene entre 18 y 34 años, ¿cuál es la probabilidad de que no tenga seguro médico?

e. Si la persona tiene 35 años o más ¿cuál es la probabilidad de que no tenga seguro médico?

f. Si la persona no tiene seguro médico, ¿cuál es la probabilidad de que tenga entre 18 y 34 años?

In [4]:
dic3 ={
    'Si' : [750, 950],
    'No' : [170, 130],
}

indices2 = ['18 a 34', '35 o mayor']

df3 = pd.DataFrame(dic3, index = indices2)

totalFilas = df3.sum(axis = 1)

df3['Total'] = totalFilas

dic4 = {
    'Si' : df3['Si'].sum(),
    'No' : df3['No'].sum(),
    'Total' : df3['Total'].sum()
}

df3.loc['Total'] = dic4

df3

              Si   No  Total
18 a 34      750  170    920
35 o mayor   950  130   1080
Total       1700  300   2000

In [10]:
total = df3['Total'].max()

df4 = df3.copy()

df4['Si'] = df4['Si'] / total
df4['No'] = df4['No'] / total
df4['Total'] = df4['Total'] / total

df4

               Si     No  Total
18 a 34     0.375  0.085   0.46
35 o mayor  0.475  0.065   0.54
Total       0.850  0.150   1.00

In [12]:
c = df4.loc['Total', 'No']
c

0.15

In [19]:
d = df3.loc['18 a 34', 'No'] / df3.loc['18 a 34', 'Total']
d

0.18478260869565216

In [20]:
e = df3.loc['35 o mayor', 'No'] / df3.loc['35 o mayor', 'Total']
e

0.12037037037037036

In [22]:
f = df3.loc['18 a 34', 'No'] / df3.loc['Total', 'No']
f

0.5666666666666667