# Práctica Clase 6

1) Cargar el dataset "Emisiones_CO2.csv" provisto en la clase 2 en un Dataframe de Pandas, quitar los registros que contengan valores faltantes e implementar una nueva columna, que contenga el resultado de una función Hash aplicada sobre el campo "Código de País" y se denomine "Clave_Hash".<br>
Consideraciones: Se puede utilizar la función provista.

In [2]:
def hash_function(key):
    return sum(index * ord(character) for index, character in enumerate(repr(key), start=1))

In [3]:
print(hash_function('pato'))
print(hash_function('tapo'))

1807
1799

In [55]:
print(hash_function('SAU'))

print(sum(indice2 * ord(caracter2) for indice2, caracter2 in enumerate(repr('ZWE'), start = 1)))

935
951

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('Emisiones_CO2.csv',sep='|',decimal=',', encoding='latin-1')

In [7]:
df2 = df.copy()

df2.dropna(inplace = True)

df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9029 entries, 26 to 11126
Data columns (total 6 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Código de país                       9029 non-null   object
 1   Nombre del país                      9029 non-null   object
 2   Región                               9029 non-null   object
 3   Año                                  9029 non-null   int64
 4   CO2 (kt)                             9029 non-null   object
 5   CO2 per cápita (toneladas métricas)  9029 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 493.8+ KB

In [8]:
df2['Clave_Hash'] = 0

listaHash = []

for indice, elemento in enumerate(df2['Código de país']):
    listaHash.append(hash_function(elemento))

df2['Clave_Hash'] = listaHash

df2

,Código de país,Nombre del país,Región,Año,CO2 (kt),CO2 per cápita (toneladas métricas),Clave_Hash
26,ABW,Aruba,América Latina y Caribe,1986,"179,683",2.868319,910
27,ABW,Aruba,América Latina y Caribe,1987,"447,374",7.234964,910
28,ABW,Aruba,América Latina y Caribe,1988,"612,389",10.026508,910
29,ABW,Aruba,América Latina y Caribe,1989,"649,059",10.634733,910
30,ABW,Aruba,América Latina y Caribe,1990,"1.840,83",29.620165,910
...,...,...,...,...,...,...,...
11122,ZWE,Zimbabue,África subsahariana,2007,"9.732,22",0.731867,951
11123,ZWE,Zimbabue,África subsahariana,2008,"7.682,37",0.569255,951
11124,ZWE,Zimbabue,África subsahariana,2009,"8.239,75",0.600521,951
11125,ZWE,Zimbabue,África subsahariana,2010,"9.028,15",0.646073,951
11126,ZWE,Zimbabue,África subsahariana,2011,"9.860,56",0.691698,951

2. A partir del Dataframe creado en el punto 1, construir uno nuevo, que contenga solo los valores distintos de la tupla "Clave_Hash", "Código de País" , "Nombre de país" y "Región". Quitando luego del dataframe original los campos "Código de País" , "Nombre de país" y "Región"

In [18]:
print('Longitud de valores distintos en la columna "Clave Hash":\n', len(df2['Clave_Hash'].unique()), '\n')
print('Longitud de valores distintos en la columna "Código de pais":\n', len(df2['Código de país'].unique()), '\n')
print('Longitud de valores distintos en la columna "Nombre del país":\n', len(df2['Nombre del país'].unique()), '\n')
print('Longitud de valores distintos en la columna "Región":\n', len(df2['Región'].unique()), '\n')

Longitud de valores distintos en la columna "Clave Hash":
 108

Longitud de valores distintos en la columna "Código de pais":
 199

Longitud de valores distintos en la columna "Nombre del país":
 199

Longitud de valores distintos en la columna "Región":
 7

In [61]:
lista1 = df2['Clave_Hash'].unique()             #Esta lista tiene 108 valores unicos, ya que hay codigos de país que dan el mismo valor.
lista2 = df2['Código de país'].unique()         #Esta lista tiene 199 valores únicos.
lista3 = df2['Nombre del país'].unique()        #Esta lista tiene 199 valores únicos.
lista4 = df2['Región'].unique()                 #Esta lista solo tiene 7 valores únicos.

df3 = df2.drop_duplicates(subset = ['Código de país']).copy()
df3.drop(['Año', 'CO2 (kt)', 'CO2 per cápita (toneladas métricas)'], axis = 1, inplace = True)

print(df3.value_counts('Clave_Hash'))       #Aqui se sabe cuales son los valores repetidos para el código Hash hecho anteriormente.

#print(df3[df3['Clave_Hash'] == 935])

df3

Clave_Hash
935     5
910     5
941     4
957     4
970     4
       ..
917     1
918     1
926     1
929     1
1021    1
Name: count, Length: 108, dtype: int64

,Código de país,Nombre del país,Región,Clave_Hash
26,ABW,Aruba,América Latina y Caribe,910
87,AND,Andorra,Europa y Asia Central,870
104,AFG,Afganistán,Sur de Asia,858
156,AGO,Angola,África subsahariana,893
208,ALB,Albania,Europa y Asia Central,856
...,...,...,...,...
10867,YEM,Yemen,Oriente Medio y Norte de África,927
10919,ZAF,Sudáfrica,África subsahariana,889
10971,COD,Congo (República Democrática),África subsahariana,877
11027,ZMB,Zambia,África subsahariana,909
11079,ZWE,Zimbabue,África subsahariana,951